<html layout:decorate="~{layout}">
<div layout:fragment="content" class="flex justify-center">
    <div class="hero" style="width: 50%;">
        <form th:action="@{/member/modifyPassword}" method="post" th:object="${modifyPasswordForm}" style="width: 100%;">
            <div th:replace="common/form_errors :: formErrorsFragment"></div>
            <div class="m-1">
                <p>기존 비밀번호</p>
                <input class="input input-bordered input-info" placeholder="old password" style="width: 100%;"
                       type="password" name="oldPassword" id="oldPassword" th:field="*{oldPassword}">
            </div>
            <div class="m-1">
                <p>새 비밀번호</p>
                <input class="input input-bordered input-info" placeholder="new password" style="width: 100%;"
                       type="password" th:field="*{newPassword1}" name="newPassword1" id="newPassword1">
            </div>
            <div class="m-1">
                <p>새 비밀번호 확인</p>
                <input class="input input-bordered input-info" placeholder="new password" style="width: 100%;"
                       type="password" th:field="*{newPassword2}" name="newPassword2" id="newPassword2">
            </div>
            <div class="mt-3">
                <button style="width: 100%;" class="btn btn-primary" type="submit">비밀번호 변경</button>
            </div>
        </form>
    </div>
</div>
</html>