<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="mb-5">
        <div class="flex justify-center">
            <div class="lg:flex-row">
                <div class="flex items-center">
                    <div class="avatar mr-4">
                        <div class="w-24 mask mask-squircle">
                            <img src="https://placeimg.com/192/192/people"/>
                        </div>
                    </div>
                    <div>
                        <!--<h1 class="text-5xl font-bold mb-2" th:text="${member.username}"></h1>-->
                        <h2 class="text-5xl">[[${member.nickname}]]</h2>
                    </div>
                </div>
                <div class="mt-5">
                    <a class="py-6 text-xl"><i class="fa-regular fa-envelope"></i> [[${member.email}]]</a>
                </div>
            </div>
        </div>
        <div class="float-right">
            <label class="text-gray-500 hover:underline hover:text-[red]" for="my-modal-3" style="cursor:pointer;">프로필 이미지 수정</label>
            <a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{/member/modifyMember}">회원정보수정</a>
            <a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{/member/modifyPassword}">비밀번호 변경</a>
        </div>
    </div>

    <!-- Put this part before </body> tag -->
    <input type="checkbox" id="my-modal-3" class="modal-toggle"/>
    <div class="modal">
        <div class="modal-box relative">
            <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h1 class="text-3xl mb-3">프로필 이미지 변경</h1>
            <form th:action="@{/modify/profileImg}" method="post">
                <input class="file-input file-input-bordered file-input-info" type="file"
                       name="profileImg" accept="image/png, image/gif, image/jpeg"/>
                <button type="submit" class="btn btn-info btn-wide" style="float: right;">변경</button>
            </form>
        </div>
    </div>


    <div class="mx-auto" style="width: 70%;">
        <table class="table table-zebra w-full">
            <!-- head -->
            <thead>
            <tr>
                <th class="text-center"><i class="fa-solid fa-list"></i></th>
                <th style="width: 80%;"></th>
                <th class="text-center"><i class="fa-solid fa-calendar-days"></i></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${postList}">
                <td class="text-center"><i class="fa-regular fa-file"></i></td>
                <td><a class="hover:underline hover:text-[red]" th:href="@{|/post/${post.id}|}">[[${post.subject}]]</a>
                </td>
                <td class="text-center" th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- 페이징처리 시작 -->
    <div th:if="${!postList.isEmpty()}" class="flex justify-center mt-5">
        <div class="btn-group">
            <a th:each="page: ${#numbers.sequence(0, postList.totalPages-1)}"
               th:if="${page >= postList.number-2 and page <= postList.number+2}"
               th:classappend="${page == postList.number} ? 'btn-active'"
               th:text="${page+1}" th:href="@{|?page=${page}&kw=${kw}|}"
               class="btn"></a>

        </div>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>