<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div th:replace="common/toastEditorFragment :: editorFragment"></div>
    <div class="mb-3">
        <p class="text-5xl">[[${post.subject}]]</p>
    </div>
    <div class="justify-between flex">
        <div><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/member/${post.memberDto.id}|}">by [[${post.memberDto.nickname}]]</a></div>
        <div style="float: right">
            <ul class="flex gap-2">
                <li><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/post/modify/${post.id}|}">수정</a></li>
                <li><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/post/delete/${post.id}|}"
                onclick="if(!confirm('정말로 삭제하시겠습니까?')) return false;">삭제</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="toast-ui-viewer">
            <script type="text/x-template">
                [[${post.content}]]
            </script>
        </div>
    </div>
</div>
</html>