<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div th:replace="common/toastEditorFragment :: editorFragment"></div>
    <div class="mb-3">
        <p class="text-5xl">[[${post.subject}]]</p>
    </div>
    <div class="justify-between flex">
        <div><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/member/${post.memberDto.id}|}">by [[${post.memberDto.nickname}]]</a></div>
        <div style="float: right">
            <ul class="flex gap-2">
                <li><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/post/modify/${post.id}|}">수정</a></li>
                <li><a class="text-gray-500 hover:underline hover:text-[red]" th:href="@{|/post/delete/${post.id}|}"
                onclick="if(!confirm('정말로 삭제하시겠습니까?')) return false;">삭제</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="toast-ui-viewer">
            <script type="text/x-template">
                [[${post.content}]]
            </script>
        </div>
    </div>
    <div>
        <p class="text-1xl">[[${answerList.size}]]개의 댓글</p>
        <form th:action="@{/answer/create}" method="post" onsubmit="Answer_submit(this); return false;">
            <input style="width: 30%;" type="text" class="input input-bordered" placeholder="댓글을 남겨보세요" id="answer" name="answer">
            <button class="btn btn-info">댓글 작성</button>
        </form>

        <script>
            function Answer_submit(form) {
                form.answer.value = form.answer.value.trim();
                if (form.answer.value.length == 0) {
                    // alert('제목을 입력해주세요.');
                    warningModal('내용을 입력해주세요.');
                    form.answer.focus();
                    return;
                }
                form.submit();
            }
        </script>
    </div>
</div>
</html>