<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="flex justify-center" style="flex-wrap: wrap;">
        <div class="m-2" th:each="post : ${postList}">
            <div class="card w-96 bg-base-100 shadow-xl">
                <figure><img src="https://placeimg.com/400/225/arch" alt="Shoes"/></figure>
                <div class="card-body">
                    <div class="flex justify-between">
                    <h2 class="card-title">
                        <a th:href="@{|/post/${post.id}|}" class="hover:underline">[[${post.subject}]]</a>
                        <div class="badge badge-secondary">NEW</div>
                    </h2>
                    <a th:href="@{|/member/${post.memberDto.nickname}|}" class="text-gray-500 hover:underline hover:text-[red]">by [[${post.memberDto.nickname}]]</a>
                    </div>
<!--                    <div style="white-space: pre-line;" th:if="${post.content.length >= 50}"-->
<!--                         th:text="${#strings.substring(post.content, 0, 30)}">-->
<!--                    </div>-->
<!--                    <div style="white-space: pre-line;" th:if="${post.content.length < 50}"-->
<!--                         th:text="${post.content}">-->
<!--                    </div>-->
                    <div>
                        댓글, 좋아요
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 페이징처리 시작 -->
    <div th:if="${!postList.isEmpty()}" class="flex justify-center mt-5">
        <div class="btn-group">
            <a th:each="page: ${#numbers.sequence(0, postList.totalPages-1)}"
               th:if="${page >= postList.number-2 and page <= postList.number+2}"
               th:classappend="${page == postList.number} ? 'btn-active'"
               th:text="${page+1}" th:href="@{|?page=${page}&kw=${kw}|}"
               class="btn"></a>

        </div>
    </div>
    <!-- 페이징처리 끝 -->
</div>
</html>